# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Server ignore
/server/node_modules

# compiled output
/kaloom-ui/dist
/kaloom-ui/tmp
/kaloom-ui/out-tsc
# Only exists if Bazel was run
/kaloom-ui/bazel-out

# dependencies
/kaloom-ui/node_modules

# profiling files
/kaloom-ui/chrome-profiler-events*.json

# misc
/kaloom-ui/.sass-cache
/kaloom-ui/connect.lock
/kaloom-ui/coverage
/kaloom-ui/libpeerconnection.log
/kaloom-ui/npm-debug.log
/kaloom-ui/yarn-error.log
/kaloom-ui/testem.log
/kaloom-ui/typings